<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Mount RealSense on robot -->
  <joint name="realsense_joint" type="fixed">
    <parent link="chassis"/>
    <child link="camera_camera_link"/>
    <origin xyz="0.305 0 0.08" rpy="0 0 0"/>
  </joint>

  <!-- RealSense body (visual only) -->
  <link name="camera_camera_link">
    <visual>
      <geometry>
        <box size="0.01 0.03 0.03"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

</robot>
